<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/editormd.min.css"/>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/editormd.min.js"></script>

</head>

<body>
<!--<div class="editormd-preview" style="display: block; width: 855.5px; top: 40px; height: 599px;">-->
<div class="markdown-body editormd-preview-container" previewcontainer="true" style="padding: 20px;">
    <div class="markdown-toc editormd-markdown-toc">
        <ul class="markdown-toc-list">
            <li><a class="toc-level-4" href="#Disabled options" level="4">Disabled options</a></li>
            <li><a class="toc-level-4" href="#Editor.md directory" level="4">Editor.md directory</a>
                <ul></ul>
            </li>
        </ul>
    </div>
    <h4 id="h4-disabled-options"><a name="Disabled options" class="reference-link"></a><span
            class="header-link octicon octicon-link"></span>Disabled options</h4>
    <ul>
        <li>TeX (Based on KaTeX);</li>
        <li>Emoji;</li>
        <li>Task lists;</li>
        <li>HTML tags decode;</li>
        <li>TeX (Based on KaTeX);</li>
        <li>Emoji;</li>
        <li>Task lists;</li>
        <li>HTML tags decode;</li>
        <li>Flowchart and Sequence Diagram;</li>
        <li>TeX (Based on KaTeX);</li>
        <li>Emoji;</li>
        <li>Task lists;</li>
        <li>HTML tags decode;</li>
        <li>Flowchart and Sequence Diagram;</li>
        <li>TeX (Based on KaTeX);</li>
        <li>Emoji;</li>
        <li>Task lists;</li>
        <li>HTML tags decode;</li>
        <li>Flowchart and Sequence Diagram;</li>
        <li>TeX (Based on KaTeX);</li>
        <li>Emoji;</li>
        <li>Task lists;</li>
        <li>HTML tags decode;</li>
        <li>Flowchart and Sequence Diagram;</li>
        <li>TeX (Based on KaTeX);</li>
        <li>Emoji;</li>
        <li>Task lists;</li>
        <li>HTML tags decode;</li>
        <li>Flowchart and Sequence Diagram;</li>
        <li>TeX (Based on KaTeX);</li>
        <li>Emoji;</li>
        <li>Task lists;</li>
        <li>HTML tags decode;</li>
        <li>Flowchart and Sequence Diagram;</li>
        <li>Flowchart and Sequence Diagram;</li>
    </ul>
    <h4 id="h4-editor-md-directory"><a name="Editor.md directory" class="reference-link"></a><span
            class="header-link octicon octicon-link"></span>Editor.md directory</h4>
    <pre class="prettyprint linenums prettyprinted" style=""><ol class="linenums"><li class="L0"><code><span
            class="pln">editor</span><span class="pun">.</span><span class="pln">md</span><span
            class="pun">/</span></code></li><li
            class="L1"><code><span class="pln">        lib</span><span class="pun">/</span></code></li><li
            class="L2"><code><span class="pln">        css</span><span class="pun">/</span></code></li><li
            class="L3"><code><span class="pln">        scss</span><span class="pun">/</span></code></li><li
            class="L4"><code><span class="pln">        tests</span><span class="pun">/</span></code></li><li
            class="L5"><code><span class="pln">        fonts</span><span class="pun">/</span></code></li><li
            class="L6"><code><span class="pln">        images</span><span class="pun">/</span></code></li><li
            class="L7"><code><span class="pln">        plugins</span><span class="pun">/</span></code></li><li
            class="L8"><code><span class="pln">        examples</span><span class="pun">/</span></code></li><li
            class="L9"><code><span class="pln">        languages</span><span class="pun">/</span><span
            class="pln">     </span></code></li><li class="L0"><code><span class="pln">        editormd</span><span
            class="pun">.</span><span class="pln">js</span></code></li><li class="L1"><code><span
            class="pln">        </span><span class="pun">...</span></code></li></ol></pre>
    <pre class="prettyprint linenums prettyprinted" style=""><ol class="linenums"><li class="L0"><code
            class="lang-html"><span class="com">&lt;!-- English --&gt;</span></code></li><li class="L1"><code
            class="lang-html"><span class="tag">&lt;script</span><span class="pln"> </span><span
            class="atn">src</span><span class="pun">=</span><span
            class="atv">"../dist/js/languages/en.js"</span><span class="tag">&gt;&lt;/script&gt;</span></code></li><li
            class="L2"><code class="lang-html"></code></li><li class="L3"><code class="lang-html"><span class="com">&lt;!-- 繁體中文 --&gt;</span></code></li><li
            class="L4"><code class="lang-html"><span class="tag">&lt;script</span><span class="pln"> </span><span
            class="atn">src</span><span class="pun">=</span><span
            class="atv">"../dist/js/languages/zh-tw.js"</span><span
            class="tag">&gt;&lt;/script&gt;</span></code></li></ol></pre>
</div>
<!--</div>-->
</body>

</html>